<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-bold text-success mb-0">Task Dashboard</h2>
        
        <div class="d-flex align-items-center gap-5">
            <a routerLink="/taskForm" class="btn btn-success me-2">Add Task</a>
            <button (click)="onLogout()" class="btn btn-outline-danger">Logout</button>
        </div>
        
      </div>
      
  
    <div class="alert alert-info">
      No tasks found. Start by adding one!
    </div>
  
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="table-success">
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>"{{ task.title }}"</td>
            <td>"{{ task.status }}"</td>
            <td>"{{ task.description }}"</td>
            <td>"{{ task.createdAt | date: 'medium' }}"</td>
            
            <td>
              <a  class="btn btn-sm btn-outline-primary me-2">Edit</a>
              <button  class="btn btn-sm btn-outline-danger" (click)="deleteTask(task.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  